@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #ec4899;
  --color-background: #f3f4f6;
  --color-text: #111827;
  --color-accent: #6b7282;
  --color-border: #e0e0e0;
  --color-shadow: #000000;
}

/* App.css */
#root {
  padding: 0;
  margin: 0;
  max-width: none;
}
